extends layout

block content
  h1 #{title}

  if user
    br 
    p Hi #{user.username}, are your items!
    ul.list-group
    each item, i in items
      div.panel.panel-default
        br
        p Item Name: #{item.itemName}
        p Lowest Price: #{item.lowestPrice}
        p Desired Price: #{item.desiredPrice}
        p Currency: #{item.currency}
        br

  else
    p Please Login